.venv/
.idea/
generator_schematow_SVC/build
generator_schematow_SVC/dist
generator_schematow_SVC/generowanie_schematy_SVC.exe
generator_schematow_SVC/generator_schematow_SVC.bat
generator_schematow_SVC/generowanie_schematy_SVC -- noconsole.exe
generator_schematow_SVC/schemat.docx
generator_schematow_SVC/wygenerowany.png
generator_schematow_SVC/schemat_testowe.cdr
generator_schematow_SVC/schemat.pdf
generator_schematow_SVC/Kopia_zapasowa_schemat_testowe.cdr
generator_schematow_SVC/podglad_pdf.exe
generator_schematow_SVC/launcher.exe
dist
main_schematy.exe
generator_schematow_SVC.zip
generator_schematow_SVC.bat
_internal
protokoły_pomiary/dist
protokoły_pomiary/Kevin Korus.png
protokoły_pomiary/protokol_pomiaru

laczenie_po_ssh/config_WAN.json
laczenie_po_ssh/key_wan_lan
laczenie_po_ssh/key_wan_lan.txt
tester/kondensatory1fazowe_dobre.csv
tester/kondensatory1fazowe_zle.csv
tester/kondensatory3fazowe_dobre.csv
tester/kondensatory3fazowe_zle.csv
tester/dlawiki1fazowe_dobre.csv
tester/dlawiki1fazowe_zle.csv
tester/dlawiki3fazowe_zle.csv
tester/key_wan_lan.pem





